.required {
  &::before {
    display: inline-block;
    color: #ff4d4f;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: '*';
    margin-inline-end: 4px;
  }
}
